<section class="about">
    <div class="about-header">
        <h1>Gabriel Alejandro Ramírez Segovia</h1>
        <h2>Full Stack Developer</h2>
    </div>

    <div class="about-content">
        <p class="intro">
            Specialised technician in web and application development, with experience in complex technological
            environments and multidisciplinary teams. I have participated in projects related to the migration,
            development, and optimisation of web applications, mainly with relational databases.
        </p>
        <p class="about-text">
            In 2024, I expanded my professional experience in Cork, Ireland, improving my English and strengthening my
            ability to adapt to multicultural work environments. This international experience improved both my
            technical skills and my ability to collaborate effectively with diverse teams.
        </p>
        <p class="about-text">
            Known for my analytical thinking, problem-solving skills, and ability to deliver efficient and innovative
            solutions. I thrive in both independent and collaborative roles and am always ready to take on new
            technological challenges.
        </p>

        <div class="highlights" #highlightSection>
            <div class="highlight-card">
                <span class="animated-number">{{ yearsCount }}+</span>
                <p>Years of experience</p>
            </div>
            <div class="highlight-card">
                <span class="animated-number">{{ techsCount }}+</span>
                <p>Technologies mastered</p>
            </div>
        </div>


        <section class="skills-section">
            <h2 class="section-title">Languages</h2>
            <div class="language-list">
                <div class="language-card" *ngFor="let language of languages">
                    <img [src]="language.icon" [alt]="language.name + ' flag'" class="language-img"
                        *ngIf="language.icon">
                    <div class="language-info">
                        <h3>{{ language.name }}</h3>
                        <p>{{ language.certification }}</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="skills-section">
            <h2 class="section-title">Technical Skills</h2>
            <div *ngFor="let category of skillCategories" class="skill-category">
                <h3>{{category.name}}</h3>
                <div class="skills-container">
                    <div *ngFor="let skill of category.skills" class="skill-chip">
                        <img [src]="skill.icon" [alt]="skill.name + ' icon'" class="skill-icon" *ngIf="skill.icon">
                        <span>{{skill.name}}</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>