<section class="about">
    <div class="about-header">
        <h1>{{ 'ABOUT.TITLE' | translate }}</h1>
        <h2>{{ 'ABOUT.SUBTITLE' | translate }}</h2>

    </div>

    <div class="about-content">
        <p class="intro">
            {{ 'ABOUT.INTRO' | translate }}
        </p>
        <p class="about-text">
            {{ 'ABOUT.TEXT_1' | translate }}
        </p>
        <p class="about-text">
            {{ 'ABOUT.TEXT_2' | translate }}
        </p>

        <div class="highlights" #highlightSection>
            <div class="highlight-card">
                <span class="animated-number">{{ yearsCount }}+</span>
                <p>{{ 'ABOUT.HIGHLIGHTS.YEARS' | translate }}</p>
            </div>
            <div class="highlight-card">
                <span class="animated-number">{{ techsCount }}+</span>
                <p>{{ 'ABOUT.HIGHLIGHTS.TECHS' | translate }}</p>
            </div>
        </div>

        <section class="skills-section">
            <h2 class="section-title">{{ 'ABOUT.SECTIONS.LANGUAGES' | translate }}</h2>
            <div class="language-list">
                <div class="language-card">
                    <img src="spain.svg" alt="{{ 'ABOUT.LANGUAGES.SPANISH' | translate }} flag"
                        class="language-img">
                    <div class="language-info">
                        <h3>{{ 'ABOUT.LANGUAGES.SPANISH' | translate }}</h3>
                        <p>{{ 'ABOUT.LANGUAGES.SPANISH_LEVEL' | translate }}</p>
                    </div>
                </div>

                <div class="language-card">
                    <img src="uk.svg" alt="{{ 'ABOUT.LANGUAGES.ENGLISH' | translate }} flag"
                        class="language-img">
                    <div class="language-info">
                        <h3>{{ 'ABOUT.LANGUAGES.ENGLISH' | translate }}</h3>
                        <p>{{ 'ABOUT.LANGUAGES.ENGLISH_LEVEL' | translate }}</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="skills-section">
            <h2 class="section-title">{{ 'ABOUT.SECTIONS.TECH_SKILLS' | translate }}</h2>
            <div *ngFor="let category of skillCategories" class="skill-category">
                <h3>{{category.name}}</h3>
                <div class="skills-container">
                    <div *ngFor="let skill of category.skills" class="skill-chip">
                        <img [src]="skill.icon" [alt]="skill.name + ' icon'" class="skill-icon" *ngIf="skill.icon">
                        <span>{{skill.name}}</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>