<div class="experience-section">
    <h1>Professional Experience</h1>

    <div *ngFor="let exp of experiences" class="experience-item">
        <div class="experience-header">
            <div class="company-header">
                <img *ngIf="exp.icon" [src]="exp.icon" class="company-icon">
                <div>
                    <h2>{{exp.company}}</h2>
                    <h3>{{exp.role}} <span *ngIf="exp.client">- {{exp.client}}</span></h3>
                    <div class="experience-date">{{exp.date}}</div>
                </div>
            </div>
        </div>

        <p class="experience-description">{{exp.description}}</p>

        <div *ngIf="exp.clients" class="clients-section">
            <div *ngFor="let client of exp.clients" class="client-item">
                <div class="client-header">
                    <img *ngIf="client.icon" [src]="client.icon" class="client-icon">
                    <strong>{{client.name}}</strong>
                </div>
                <p class="client-description">{{client.description}}</p>
            </div>
        </div>

        <div class="tech-stack">
            <span *ngFor="let tech of exp.tech">{{tech}}</span>
        </div>

        <div class="separator"></div>
    </div>
</div>